<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:osgi="http://www.springframework.org/schema/osgi" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:dubbo="http://repo.alibaba-inc.com/schema/dubbo"
	xsi:schemaLocation="http://repo.alibaba-inc.com/schema/dubbo http://repo.alibaba-inc.com/schema/dubbo/dubbo-component.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd">
	
	<dubbo:application name="HelloWorld.Dubbo4HSF.Server" />
	<dubbo:registry address="10.20.141.150:9090" default="true"/>
	<bean id="helloWorld1.local" class="com.mitch3.test.dubbo4hsf.server.HelloWorld1"/>
	<bean id="helloWorld2.local" class="com.mitch3.test.dubbo4hsf.server.HelloWorld2"/>
	<bean id="helloWorld3.local" class="com.mitch3.test.dubbo4hsf.server.HelloWorld3"/>
	
	<dubbo:service id="helloWorld.dubbo"
		interface="com.mitch3.test.dubbo4hsf.api.IHelloWorld1" 
		version="1.0.0.pangl"
		ref="helloWorld1.local"/>
		
	<bean id="helloWorld.hsf" class="com.taobao.hsf.app.spring.util.HSFSpringProviderBean">
		<property name="serviceInterface" value="com.mitch3.test.dubbo4hsf.api.IHelloWorld2"/>
		<property name="serviceVersion" value="1.0.0.pangl"/>
		<property name="target" ref="helloWorld2.local"/>
	</bean>
	
	<dubbo:service id="helloWorld.dubbo-hsf"
		interface="com.mitch3.test.dubbo4hsf.api.IHelloWorld3" 
		protocol="hsf" 
		version="1.0.0.pangl"
		ref="helloWorld3.local"/>
		
</beans>