<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:osgi="http://www.springframework.org/schema/osgi" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:dubbo="http://repo.alibaba-inc.com/schema/dubbo"
	xsi:schemaLocation="http://repo.alibaba-inc.com/schema/dubbo http://repo.alibaba-inc.com/schema/dubbo/dubbo-component.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd">

	<dubbo:application name="HelloWorld.Dubbo4HSF.Client" />
	<dubbo:registry address="10.20.141.150:9090" default="true"/>
	
	<dubbo:reference id="helloWorld.dubbo4hsf"
		interface="com.mitch3.test.dubbo4hsf.api.IHelloWorld2" 
		version="1.0.0.pangl.hsf"/>		
		
</beans>